<app-compte></app-compte>
<h4><span class="jaune">Détails</span> de votre pari</h4>
<br/>
<mat-card>
    <hr/><hr/>
    <div class="centre">
        <div class="row">
            <div class="col-md-4">
                <mat-icon class="icone-qrCode" (click)="afficherQrCode(idPanier)" title="Cliquer ici pour ourvir le qrCode">qr_code</mat-icon>
                <!-- <input #id type="hidden" value="{{idPanier}}" /> -->
                <!-- <input #id type="hidden" value="{{testCon}}" />
                <qr-code [level]="level" [value]="id.value" [size]="100" ></qr-code> -->
            </div>
            <div class="col-md-8">
                <ul>
                    <li><span class="souligne">Date: </span>{{ date | date }} à {{ date  | date: 'HH:mm'}}</li>
                    <li><span class="souligne">Mise versée: </span>{{mise | number:'':'fr' }} Ar</li>
                    <li><span class="souligne">Gain potentiel : </span>{{gain | number:'':'fr' }} Ar</li>
                    <li><span class="souligne">{{resultat}}</span></li>
                </ul>
            </div>
        </div>
    </div>
    <hr/><hr/>
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Vos paris</strong>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="th-jaune" scope="col">Match</th>
                        <th scope="col">Pari</th>
                        <th class="th-jaune textDroite" scope="col">Cote</th>
                        <th scope="col textDroite">Mise (Ar)</th>
                        <th class="th-jaune textDroite" scope="col">Gain (Ar)</th>
                        <th scope="col">Résultat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pariPanier of pariPaniers">
                        <td>{{pariPanier.pari.match.equipe1.nom}} vs {{pariPanier.pari.match.equipe2.nom}} ({{ pariPanier.pari.match.date | date }} à {{ pariPanier.pari.match.date | date: 'HH:mm' }})</td>
                        <td>{{pariPanier.pari.type.nom}}: {{pariPanier.pari.valeur}}</td>
                        <td class="textDroite">{{pariPanier.pari.cote}}</td>
                        <td class="textDroite">{{pariPanier.pari.mise | number:'':'fr'}}</td>
                        <td class="textDroite">{{pariPanier.pari.gain | number:'':'fr'}}</td>
                        <td>{{ resultatPari(pariPanier.pari.resultat) }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="align-center loader">
                <mat-spinner *ngIf="resourcesLoaded"></mat-spinner>
            </div>  
        </div>
    </div>
</mat-card>