.jaune{
    color: #FBBD00;
}

.centre{
    text-align: center;
}

ul {
    list-style: none;
}

th{
    font-size: 14px;
    color: black;
}

.th-jaune{
    font-size: 14px;
    color: #FBBD00;
}

.align-center{
    margin-left: 43%;
}

.loader ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #FBBD00;
}
