<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-1">
                        <i class="pe-7s-cash"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">{{ solde }}</span> Ar</div>
                            <div class="stat-heading">Votre solde</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-4">
                        <i class="pe-7s-users"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">{{nom}} - {{email}}</span></div>
                            <div class="stat-heading">Profil</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-1">
                        <i class="pe-7s-cart"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">{{ solde }}</span></div>
                            <div class="stat-heading">Nombre de pari</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h4><span class="jaune">Historique</span> de vos paris</h4>
<br/>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Liste de vos paris</strong>
            </div>
            <div class="card-body">
              <button (click)="getPanierByIdCompte()" class="btn btn-outline-secondary espacement"><i class="fa fa-list-ul"></i>&nbsp; Réinitialiser le tableau</button>
              <br/>  
              <div class="mat-elevation-z8 cardRna">
                  <!-- <div>
                    <form ngForm class="form-horizontal"> 
                      <div class="row form-group">
                        <div class="col col-md-3">
                          <label>Date</label>
                          <input (change)="rechercheMulticritere()" [(ngModel)]="date" name="date" class="form-control" type="datetime-local" placeholder="Date">
                        </div>
                        <div class="col col-md-3">
                          <label>Equipe</label>
                          <input (keyup)="rechercheMulticritere()" [(ngModel)]="equipe" name="equipe" class="form-control" type="text" placeholder="Equipe"/>
                        </div>
                        <div class="col col-md-3">
                          <label>Championnat</label>
                          <select (change)="rechercheMulticritere()" [(ngModel)]="championnat" name="championnat" class="form-control">
                            <option value="Tous">Tous</option>
                            <ng-container *ngFor="let championnat of championnats">
                              <option value="{{championnat.nom}}">{{championnat.nom}}</option>
                            </ng-container>
                          </select>
                        </div>
                        <div class="col col-md-3">
                          <label>Etat</label>
                          <select (change)="rechercheMulticritere()" [(ngModel)]="etat" name="etat" class="form-control">
                            <option value="4">Tous</option>
                            <option value="0">Pariable</option>
                            <option value="1">En cours</option>
                            <option value="2">Terminé</option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </div> -->
                  <!-- <input #tailleQrCodeInput [(ngModel)]="tailleQrCode" name="tailleQrCode" /> -->
                  <table class="table table-striped table-bordered" mat-table [dataSource]="dataSource" matSort>
                    <!-- Position Column -->
                    <ng-container matColumnDef="qrCode">
                      <th mat-sort-header mat-header-cell *matHeaderCellDef> qrCode</th>
                      <td class="centre" mat-cell *matCellDef="let element">
                        <input #id type="hidden" value="{{element._id}}" />
                        <qr-code  #qrCode [value]="id.value" [size]="50"></qr-code>
                      </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef> <span class="th-jaune">Date</span> </th>
                      <td mat-cell *matCellDef="let element"> {{element.date | date }} à {{ element.date  | date: 'HH:mm'}}</td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="mise">
                      <th mat-header-cell *matHeaderCellDef> Mise versée (Ar) </th>
                      <td mat-cell *matCellDef="let element"> {{element.miseTotal}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="gainPotentiel">
                      <th mat-header-cell *matHeaderCellDef> <span class="th-jaune">Gain potentiel (Ar) </span> </th>
                      <td mat-cell *matCellDef="let element"> {{element.gainTotal}}</td>
                    </ng-container>

                    <ng-container matColumnDef="modifier">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let element">
                        <mat-icon routerLink="/panier/{{element._id}}">create</mat-icon>
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>   
                  <div class="align-center loader">
                    <mat-spinner *ngIf="resourcesLoaded"></mat-spinner>
                  </div>               
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
