.titreCard{
    font-size: 16px;
}

.floatRight{
    float: right;
}

.with-icon {
    display: flex;
    align-items: center;
}

.espacement{
    margin-left: 8px;
}

.btnRna{
    width: 100%;
    background-color: black;
}

.btnRna:hover{
    background-color: #FBBD00;
    color: black;
}

.jaune{
    color: #FBBD00;
}

.jauneBold{
    color: #FBBD00;
    font-weight: bold;
}

.align-center{
    margin-left: 43%;
}

.loader ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #FBBD00;
}

.center{
    text-align: center;
}


.example-viewport {
    height: 600px;
    width: 100%;
    border: 1px solid #878788;
}